{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}">


<div class="row">
    {% if data %}
    <div class="col-md-4">
        {% for item in data %}
        <div>
            <div>
                <img src="{{ item.tourist_img }}" style="height: 200px;">
            </div>
            <div>
                <h4>Place: {{ item.place_name }}</h4>
            </div>
            <div>
                <h5>State: {{ item.location_state }}</h5>
            </div>
            <div>
                <h5>District: {{ item.location_district }}</h5>
            </div>
            <div>
                <a href="/TouristDestination_fetch/{{ item.id }}/" class="btn btn-secondary" style="width: 25%;">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <div class="col">
            <div class="row">
                {% for TouristDestination in TouristDestination.object_list %}
                <div class="col-md" style="border: 1px solid #ccc; border-radius: 8px; padding: 16px; margin: 25px; box-shadow: 12px 12px 12px rgba(0,0,0,0.1);">
                    <div class="card">
                        <div>
                            <img src="{{ TouristDestination.tourist_img }}">
                        </div>
                        <div>
                            <h4>Place: {{ TouristDestination.place_name }}</h4>
                        </div>
                        <div>
                            <h5>State: {{ TouristDestination.location_state }}</h5>
                        </div>
                        <div>
                            <h5>District: {{ TouristDestination.location_district }}</h5>
                        </div>
                        <div>
                            <button><a href="/TouristDestination_fetch/{{ TouristDestination.id }}/" class="" style="width: 25%;">Details</a></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
    <div>
        {% if TouristDestination.paginator.num_pages > 1 %}

        <nav>
            <ul class="pagination">
                {% if TouristDestination.number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">««</span>
                    </a>
                </li>
                <li class="page-item {% if TouristDestination.number == 2 %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ TouristDestination.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for pg in TouristDestination.paginator.page_range %}
                    {% if pg > TouristDestination.number|add:-3 and pg < TouristDestination.number|add:3 %}
                    <li class="page-item {% if TouristDestination.number == pg %} active {% endif %}">
                        <a class="page-link" href="?page={{ pg }}">{{ pg }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if TouristDestination.number < TouristDestination.paginator.num_pages %}
                <li class="page-item {% if TouristDestination.number == TouristDestination.paginator.num_pages|add:-1 %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ TouristDestination.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ TouristDestination.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">»»</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

</div>
{% endblock%}